{% extends "./common/blank.html" %}

{% block title %}comming soon{% endblock %}

{% block css %}
<style>
	body, .banner {
		background-color: #0090ff;
		color: white;
	}
	hgroup {
		text-shadow: 1px 1px 1px rgba(0,0,0,.3);
		font-family: arial;
		text-align: center;
	}
	h1 {
		position: relative;
		font-size: 1.6em;
	}
	img {
		width: 300px;
		vertical-align: middle;
	}
	.wrap {
		position: absolute;
		width: 800px;
		height: 500px;
		top: 50%;
		left: 50%;
		margin: -250px 0 0 -400px;
	}
</style>
{% endblock %}

{% block ctn %}
<div class="wrap banner">
	<hgroup>
		<br />
		<br />
		<br />
		<h1><img src="/static/img/main/logo-large-white.png" alt="" />
		<br />
		<br />comming soon.</h1>
	</hgroup>
</div>
{% endblock %}
