.article-detail{
  padding: 3em 0;
  line-height: 1.6em;
  h1{
    font-weight: normal;
    font-size: 2em;
    font-family: @msyaheiFontFamily;
    text-align: center;
  }
  .summary{
    color: #888;
    strong{
      color: @grayDarker;
    }
  }
  p{
    margin: 1.2em 0;
  }
  img{
    display: block;
    padding: 3px;
    background-color: #efefef;
    border: 1px solid #d9d9d9;
    margin: 0 auto;
  }
}

.nav-articles{
  list-style: none;
  margin: 0;
  li{
    position: relative;
    margin-bottom: 40px;
    h4{
      margin-bottom: 0;
      & > a{
        font: normal normal 1.2em/1.2em @msyaheiFontFamily;
        color: #2860C2;
        &:hover{
          color: @blue;
          text-decoration: none;
        }
      }
    }
    .tag{
      margin: 8px 5px;
      font-size: 12px;
    }
    .tag-wrap{
      margin-left: -5px;
    }
    p{
      margin-bottom: 2px;
      padding-bottom: 5px;
      line-height: 1.6em;
      min-height: 88px;
      border-bottom: 1px solid @splitLineColor
    }
    time{
      position: absolute;
      right: 0;
      top: .2em;
      color: @grayLight;
    }
  }
  & > a{
    display: block;
  }
}

.nav-tags{
  a{
    margin-top: 1em;
    margin-left: 2px;
    padding-left: 5px;
    line-height: .9em;
    border-left: 3px solid @grayLight;
    color: @gray;
    background: none;
    &:hover{
      border-left: 3px solid @blue;
      color: @blue;
    }
  }
  &.nav > li > a{
    background: none;
  }
}

.opt-panel{
  position: fixed;
  bottom: 20px;
  right: 30px;
  .transition(right .5s ease-in-out);
  a{
    display: block;
    padding: 7px 3px 0 3px;
    background-color: #878787;
    border-bottom: 1px solid #999;
    &:hover{
      background-color: #707070;
    }
  }
  & a:first-child{
    .border-radius(2px 2px 0 0);
  }
  & a:last-child{
    .border-radius(0 0 2px 2px);
    border: none;
  }
}