{% extends "common/blank.html" %}

{% block title %}
	{% block base_title %}
	
	{% endblock %}
{% endblock title %}

{% block css %}
	{% block base_css %}
	
	{% endblock %}
{% endblock css %}

{% block ctn %}
        <header class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="/" style="background-color: #0090ff;display: block;"><img src="/static/img/main/logo.png" /></a>
                    <div class="nav-collapse collapse">
                        <ul class="nav pull-right">
                            <li class="{% block active_home %}{% endblock %}"><a href="/">首页</a></li>
                            <li class="{% block active_article %}{% endblock %}"><a href="/article/query">文章</a></li>
                            <!-- <li><a href="#">设计</a></li> -->
                            <li class="{% block active_about %}{% endblock %}"><a href="/about">关于我</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </header>
       	<article>
		{% block base_ctn %}
		
		{% endblock %}
		</article>
		
		<footer>
			<div class="container">
				<dl>
					<div style="padding-left: 0">
						<dt class="ico ico-django">django</dt>
						<dd>本站使用django开发</dd>
					</div>
					<div>
						<dt class="ico ico-sae">sina app engine</dt>
						<dd>本站运行在新浪云上</dd>
					</div>
					<div>
						<dt class="ico ico-html5">html5</dt>
						<dd>本站使用html5技术</dd>
					</div>
					<div>
						<dt class="ico ico-gmail">gmail</dt>
						<dd>与我联系，请电邮<br />rayzy1991.gmail.com</dd>
					</div>
					<div style="padding-right: 0">
						<dt class="ico ico-weibo">微博</dt>
						<dd>微博关注，请<br />@Lpgray</dd>
					</div>
				</dl>
        		<p>&copy;2012-2013, 张杨, all rights reserved.</p>
        	</div>
        </footer>
{% endblock %}

{% block js %}
	
	{% block base_js %}
	{% endblock %}
	
{% endblock js %}
