<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head lang="zh-CN">
		<meta charset="utf-8">
		<title>lpgray {% block title %}{% endblock title %}</title>
		<meta name="keywords" content="张杨 ,南京国图,前端工程师,java工程师,用户体验,UI设计">
		<meta name="description" content="张杨,前端工程师,专注WEB前端技术及用户体验">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/static/css/bootstrap/bootstrap.css" \/>
		<link rel="stylesheet" href="/static/css/plugins/prettify.css" />
		{% block css %} {% endblock css %}
	</head>
	<body>
		<!--[if lt IE 9]>
		<p class="alert alert-block" style="text-align: center;">你正在使用一个 过时的浏览器. 因此本网站的效果无法达到最佳，请 <a href="http://browsehappy.com/">更新你的IE浏览器</a>或者<a href="https://www.google.com/intl/zh-CN/chrome/browser/">下载chrome浏览器</a>。</p>
		<![endif]-->
		{% block ctn %}

		{% endblock ctn %}
		<script src="/static/build/js/lpgray_lib_20131021.min.js"></script>
		{% block js %} {% endblock js %}
	</body>
</html>