<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head lang="zh-CN">
		<meta charset="utf-8">
		<title>Blog of lpgray | 张杨的博客 {% block title %}{% endblock title %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!--[if lt IE 9]> <script src="/static/js/lib/hack/html5.js"></script> <![endif]-->
		<link rel="stylesheet" href="/static/css/bootstrap/bootstrap.css" \/>
		<link rel="stylesheet" href="/static/css/plugins/prettify.css" />
		<link href="/static/css/font/font-awesome.css" rel="stylesheet">
		{% block css %} {% endblock css %}
	</head>
	<body>
		<!--[if lt IE 9]>
		<p class="alert alert-block" style="text-align: center;">你正在使用一个 过时的浏览器. 因此本网站的效果无法达到最佳，请 <a href="http://browsehappy.com/">更新你的IE浏览器</a>或者<a href="https://www.google.com/intl/zh-CN/chrome/browser/">下载chrome浏览器</a>。</p>
		<![endif]-->
		{% block ctn %}

		{% endblock ctn %}
		<script src="/static/js/lib/jquery-1.9.1.min.js"></script>
        <script src="/static/js/lib/prettify.js"></script>
		<script src="/static/js/src/plugins/gtmap.formvalidate.js"></script>
		<script src="/static/js/src/base.js"></script>
		{% block js %} {% endblock js %}
	</body>
</html>