{% extends "base.html" %}

{% block title %}自我评价{% endblock title %}

{% block active_about %}active{% endblock %}

{% block base_ctn %}
<section class="banner banner-about">
	<div class="container">
		<br />
		<div class="face"></div>
		<h1>关于我</h1>
		<br />
		<br />
		<br />
	</div>
</section>

<section class="main article-detail">
	<div class="container">
		<br />
		<p>
			Hello，我是张杨，91年1月生，江苏徐州人，2012年6月大学毕业，学得是嵌入式专业，可是大学光玩了，也没学好。2011年底，面临毕
			业，为了掌握一个活计我去培训了软件开发。12年3月在天津，加入了一个创业互联网公司（canditu.com），担任了Java程序员，当时
			几乎包揽了该网站所有的技术工作，所以虽说入行不久，但我是一个适应与学习能力极强的人。
		</p>
		<p>
			目前我在南京GTIS担任WEB前端工程师，公司的主要产品是政府政务GIS应用，在GIS行业中公司有一定的名气，是一个比较不错的团队，
			有很多充满活力的队员及乐意分享的leader，我很喜欢目前的工作环境。
		</p>
		<p>
			我使用Java和Python两个后端语言，熟悉Spring和django框架。我是一个以产品为导向的人，任何技术与设计的价值在我的概念里都体
			现在解决市场需求。我反对沉溺于技术，我觉得那是不实际的做法，但是我不会丢掉技术情怀，因为技术始终是我的立身之本，正因为这个
			特点，现在的我可以算的上全面，从前端到后端我都可以，所以我对自己的评价就是“产品型程序员”。
		</p>
		<p>
			我也是一个GUI设计师，崇尚简约的设计风格，不喜欢花里胡哨的东西，因为这是互联网产品的大趋势，就是 Less is More!
		</p>
		<p>
			我爱音乐，擅长唱歌，大学拿过不少奖，如果可以的话，希望能广交天下爱音乐的朋友，因为我也是一个外向合群的人，适合“群居”生
			活 ^_^ 。
		</p>
		<p>
			这就是我的大概，没有华丽的大学经历，也没有从小就开始钻研代码的技术背景，不过我始终坚信，好的程序员不是因为背景有多么华丽，
			而是取决于他对代码的热爱程度和对软件产品的热情！
		</p>
		<br />
		<br />
		<br />
	</div><!-- /container -->
</section>
{% endblock %}