{% extends "base.html" %}

{% block title %}文章留言{% endblock title %}

{% block active_article %}active{% endblock %}

{% block base_ctn %}
<section class="banner banner-article">
	<div class="container">
		<nav class="breadcrumbs">
			<a href="#">首页</a> / <a href="#">文章列表</a> / <a class="active" href="#">阅读文章</a>
		</nav>
		<br />
		<h1>这是文章标题</h1>
		<p>
			2013-01-01 12:00:00
		</p>
		<br />
		<br />
		<p>
			<a class="tag">标签</a>
			<a class="tag">标签</a>
			<a class="tag">标签</a>
		</p>
		<nav>
			<ul class="nav nav-tabs">
				<li>
					<a href="article.html">文 章</a>
				</li>
				<li class="active">
					<a href="#">留 言
					<div class="bubble">
						333
					</div></a>
				</li>
			</ul>
		</nav>
	</div>
</section>

<section class="main">
	<div class="container">
		<ul class="nav-feeds">
			<li>
				<h4>Ray(站长)
				<time>
					2013-01-01 10:00
				</time></h4>
				<p>
					我爱音乐，擅长唱歌，大学拿过不少奖，如果可以的话，希望能广交天下爱音乐的朋友，因为我也是一个外向合群的人，适合“群居”生
					活 ^_^ 。我爱音乐，擅长唱歌，大学拿过不少奖，如果可以的话，希望能广交天下爱音乐的朋友，因为我也是一个外向合群的人，适合“群居”生
					活 ^_^ 。<a href="#">[回复]</a>
				</p>
			</li>
			<li>
				<h4>金色小妖
				<time>
					2013-01-01 10:00
				</time></h4>
				<p>
					我爱音乐，擅长唱歌，大学拿过不少奖，如果可以的话，希望能广交天下爱音乐的朋友，因为我也是一个外向合群的人，适合“群居”生
					活 ^_^ 。希望能广交天下爱音乐的朋<a href="#">[回复]</a>
				</p>
			</li>
			<li>
				<h4>东方不败
				<time>
					2013-01-01 10:00
				</time></h4>
				<p>
					我爱音乐，擅长唱歌，大学拿过不少奖，如果可以的话，希望能广交天下爱音乐的朋友，因为我也是一个外向合群的人，适合“群居”生
					活 ^_^ 。长唱歌<a href="#">[回复]</a>
				</p>
				<ul class="nav-children">
					<li>
						<h5>RayZhang <strong>回复给</strong> 东方不败
						<time>
							2013-01-01 01:01
						</time></h5>
						<p>
							：爱音乐，擅长唱歌，大学拿过不少奖，如果可以的话，希望能广交天下爱音乐的朋友，因为我也
							爱音乐，擅长唱歌，大学拿过不少奖，如果可以的话，希望能广交天下爱音乐的朋友，因为我也<a href="#">[回复]</a>
							<time>
								2013-01-01 01:01
							</time>
						</p>
					</li>
					<li>
						<h5>RayZhang <strong>回复给</strong> 东方不败</h5>
						<p>
							：爱音乐，擅长唱歌，大学拿过不少奖，如果可以的话，希望能广交天下爱音乐的朋友，因为我也<a href="#">[回复]</a>
							<time>
								2013-01-01 01:01
							</time>
						</p>
					</li>
					<li>
						<h5>RayZhang <strong>回复给</strong> 东方不败</h5>
						<p>
							：爱音乐，擅长唱歌，大学拿过不少奖，如果可以的话，希望能广交天下爱音乐的朋友，因为我也
							爱音乐，擅长唱歌，大学拿过不少奖，如果可以的话，希望能广交天下爱音乐的朋友，因为我也
							爱音乐，擅长唱歌，大学拿过不少奖，如果可以的话，希望能广交天下爱音乐的朋友，因为我也<a href="#">[回复]</a>
							<time>
								2013-01-01 01:01
							</time>
						</p>
					</li>
				</ul>
			</li>
			<li>
				<h4>金色小妖
				<time>
					2013-01-01 10:00
				</time></h4>
				<p>
					我爱音乐，擅长唱歌，大学拿过不少奖，如果可以的话，希望能广交天下爱音乐的朋友，因为我也是一个外向合群的人，适合“群居”生
					活 ^_^ 。希望能广交天下爱音乐的朋<a href="#">[回复]</a>
				</p>
			</li>
			<li>
				<h4>金色小妖
				<time>
					2013-01-01 10:00
				</time></h4>
				<p>
					我爱音乐，擅长唱歌，大学拿过不少奖，如果可以的话，希望能广交天下爱音乐的朋友，因为我也是一个外向合群的人，适合“群居”生
					活 ^_^ 。希望能广交天下爱音乐的朋<a href="#">[回复]</a>
				</p>
			</li>
		</ul>
		<br />
		<form id="formFeed" action="">
			<hr />
			<br />
			<div class="row-fluid">
				<input type="text" class="span4" placeholder="称呼"/>
				<input type="text" class="span4" placeholder="邮箱"/>
				<input type="text" class="span4" placeholder="微博/QQ/个人网站（选填）"/>
				<br />
				<textarea style="margin-left: 0;" name="" id="" cols="30" class="span12" rows="10" placeholder="在这里留言"></textarea>
				<br />
				<button class="btn btn-primary btn-large btn-block">
					发 送 留 言
				</button>
			</div>
			<br />
			<br />
			<br />
			<br />
		</form>
	</div><!-- /container -->
</section>
{% include "tools/opt-panel.html" %}
{% endblock %}

