{% extends "common/article-base.html" %}

{% block tab_feeds %}active{% endblock %}

{% block article_ctn %}
<section class="main">
	<div class="container">
		<ul class="nav-feeds">
			{% for feed in article.comment_set.all %}
			<li id="comment-{{ feed.id }}">
				<h4>{{ feed.user.first_name }} <time>{{ feed.create_at|date:"Y-m-d" }} {{ feed.create_at|time:"H:i:s" }}</time></h4>
				<p>{{ feed.content }} <a href="#formFeed" class="j_feed_reply" data-usrname="{{ feed.user.first_name }}" data-comment-id="{{feed.id}}" data-root-id="{{feed.id}}">[回复]</a></p>
				{% if feed.getComments %}
				<ul class="nav-children">
					{% for child in feed.getComments %}
					<li>
						<h5>{{child.user.first_name}}
							<strong>回复给</strong>
							{{child.komment.user.first_name}}
						</h5>
						<p>
							: {{ child.content }}
							<time>{{ child.create_at|date:"Y-m-d" }} {{ child.create_at|time:"H:i:s" }}</time>
							<a href="#formFeed" class="j_feed_reply" data-usrname="{{ child.user.first_name }}" data-comment-id="{{child.id}}" data-root-id="{{feed.id}}">[回复]</a>
						</p>
					</li>
					{% endfor %}
				</ul>
				{% endif %}
			</li>
			{% endfor %}
		</ul>
		{% include "common/feed-form.html" %}
	</div><!-- /container -->
</section>
{% endblock %}