{% extends "common/base.html" %}

{% block title %}读文{% endblock title %}

{% block active_article %}active{% endblock %}

{% block base_ctn %}

{% include "common/article-header.html" %}

<section class="main article-detail">
	<div class="container">
		<p class="summary">
			<strong>摘要：</strong> {{ article.desc }}
		</p>
		{{ article.content|safe }}
		{% include "common/feed-form.html" %}
	</div><!-- /container -->
</section>

<aside class="opt-panel">
	<a href="#" onclick="toTop();"><i class="ico ico-top"></i> </a>
	<a href="#formFeed"><i class="ico ico-msg"></i> </a>
</aside>
		{% include "common/opt-panel.html" %}
{% endblock %}

{% block base_js %}<script src="/static/js/intact/feed.js"></script>{% endblock %}
