{% extends "common/base.html" %}

{% block title %}文章列表{% endblock title %}

{% block active_article %}active{% endblock %}

{% block base_ctn %}
<section class="main">
	<div class="container">
		<br />
		<br />
		<div class="row">
			<div class="span8">
				<ul class="nav-articles">
					{% for article in articles %}
					<li>
						<h4><a href="../{{ article.id }}">{{ article.name }}</a></h4>
						<span class="tag-wrap">
						{% for tag in article.tags.all %}
							<a class="tag">{{ tag.name }}</a>
						{% endfor %}
						</span>
						<time>
							{{ article.create_at|date:"Y-m-d" }} {{ article.create_at|time:"H:i:s" }}
						</time>
						<p>
							{{ article.simpleContent|safe }}
						</p>
						<a href="/article/feeds?aId={{article.id}}">{{ article.comment_set.all|length }}人回复</a>
					</li>
					{% endfor %}
					<li>
						<div id="J_PAGIN" class="pagin tc">
							<a href="#" class="prev">«</a>
							<span> </span>
							<a href="#" class="next">»</a>
						</div>
					</li>
				</ul>
			</div>
			<aside class="span3 offset1">
				<h3>所有标签</h3>
				<nav>
					<ul class="nav nav-tags">
						{% for tag in tags %}
						<li>
							<a href="#">{{ tag.name }}</a>
						</li>
						{% endfor %}
					</ul>
				</nav>
			</aside>
		</div>
	</div><!-- /container -->
	<br />
	<br />
	{% if articles|length < 2 %}
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	{% endif %}
</section>
{% include "common/opt-panel.html" %}
{% endblock %}

{% block js %}
<script>
	pagin({{page.page}}, {{page.size}}, {{page.count}});
</script>
{% endblock %}
