{% extends "common/base.html" %}

{% block title %}个人网站{% endblock title %}

{% block active_home %}active{% endblock %}

{% block base_ctn %}
<section class="banner banner-home">
	<div class="container">
		<div id="profile">
			<div class="face">&nbsp;</div>
			<br />
			<div class="desc">
				<h1>专注企业级WEB应用及用户体验</h1>
				<hr />
				<h4>Linux, Spring, django, eclipse, github, jQuery, Bootstrap</h4>
			</div>
		</div>
	</div>
</section>

<section class="main">
	<div class="container">
		<br />
		<div class="row">
			
			<div class="span7">
				<h3 class="noborder">我的动态</h3>
				<ul class="nav-trends">
					{% for trend in trends %}
					<li>
						{% if trend.path %}
						<div class="img-wrap" style="background-image:url({{MEDIA_URL}}{{trend.path}})"></div>
						{% endif %}
						<time>{{ trend.create_at|date:"m-d" }}</time> <time>{{ trend.create_at|time:"H:i" }}</time>，{{trend.content|safe}}
						<div class="cb"></div>
						{% if trend.desc %}
						<br />
						<div class="memo">
							{{ trend.desc|safe }}
						</div>
						{% endif %}
					</li>
					{% endfor %}
				</ul>
				<br />
				<br />
				<br />
			</div>
			
			<div class="span4 offset1">
				<h3 class="noborder">技术领域</h3>
				<ul class="nav">
					<li>
						<div class="progress">
							<div class="bar" style="width:90%">
								HTML5 / CSS3
							</div>
						</div>
					</li>
					<li>
						<div class="progress">
							<div class="bar" style="width:85%">
								JavaScript
							</div>
						</div>
					</li>
					<li>
						<div class="progress">
							<div class="bar" style="width:85%">
								JavaEE / Spring
							</div>
						</div>
					</li>
					<li>
						<div class="progress">
							<div class="bar" style="width:80%">
								Python / Django
							</div>
						</div>
					</li>
					<li>
						<div class="progress">
							<div class="bar" style="width:70%">
								Adobe PS / AI
							</div>
						</div>
					</li>
				</ul>
				<br />
				<br />
			</div>
		</div><!-- /row -->
	</div><!-- /container -->
</section>
{% endblock %}