{% extends "base.html" %}

{% block title %}个人网站 博客 南京国图股份有限公司{% endblock title %}

{% block active_home %}active{% endblock %}

{% block base_ctn %}
<section class="banner banner-home">
	<div class="container">
		<div id="profile">
			<div class="face">
				&nbsp;
			</div>
			<hgroup>
				<h1>我是张杨,专注企业级WEB应用与前端技术</h1>
				<hr />
				<h4>Linux, Spring, django, eclipse, jQuery, Bootstrap</h4>
			</hgroup>
		</div>
	</div>
</section>

<section class="main">
	<div class="container">
		<div class="row">
			<div class="span8">
				<h2>最新动态</h2>
				<ul class="nav nav-imgs">
					{% for img in imgs %}
					{% if img.id %}
					<li>
						<a href="#"> <img class="img-polaroid" src="{{img.path}}" alt="" />
						<p>
							{{ img.desc }}
						</p> </a>
					</li>
					{% endif %}
					{% endfor %}
				</ul>
			</div>
			<div class="span4">
				<h2>我的领域</h2>
				<ul class="nav">
					<li>
						<div class="progress">
							<div class="bar" style="width:60%">
								HTML5 / CSS3
							</div>
						</div>
					</li>
					<li>
						<div class="progress">
							<div class="bar" style="width:60%">
								JavaScript
							</div>
						</div>
					</li>
					<li>
						<div class="progress">
							<div class="bar" style="width:70%">
								JavaEE / Spring
							</div>
						</div>
					</li>
					<li>
						<div class="progress">
							<div class="bar" style="width:60%">
								Python / Django
							</div>
						</div>
					</li>
					<li>
						<div class="progress">
							<div class="bar" style="width:70%">
								PS / AI
							</div>
						</div>
					</li>
				</ul>
				<br />
				<br />
			</div>
		</div><!-- /row -->
	</div><!-- /container -->
</section>
{% endblock %}