{% extends "common/base.html" %}

{% block title %}个人网站 博客 南京国图股份有限公司{% endblock title %}

{% block active_home %}active{% endblock %}

{% block base_ctn %}
<section class="banner banner-home">
	<div class="container">
		<div id="profile">
			<div class="face">&nbsp;</div>
			<br />
			<hgroup>
				<h1>专注企业级WEB技术及用户体验</h1>
				<hr />
				<h4>Linux, Spring, django, eclipse, github, jQuery, Bootstrap</h4>
			</hgroup>
		</div>
	</div>
</section>

<section class="main">
	<div class="container">
		<br />
		<div class="row">
			<div class="span8">
				<h3 class="noborder">我的动态</h3>
				<ul class="nav nav-imgs">
					{% for img in imgs %}
					{% if img.id %}
					<li>
						<a href="#"> <img class="img-polaroid" src="{{img.path}}" alt="" />
						<p>
							{{ img.desc }}
						</p> </a>
					</li>
					{% endif %}
					{% endfor %}
				</ul>
			</div>
			<div class="span4">
				<h3 class="noborder">技术领域</h3>
				<ul class="nav">
					<li>
						<div class="progress">
							<div class="bar" style="width:70%">
								HTML5 / CSS3
							</div>
						</div>
					</li>
					<li>
						<div class="progress">
							<div class="bar" style="width:80%">
								JavaScript
							</div>
						</div>
					</li>
					<li>
						<div class="progress">
							<div class="bar" style="width:80%">
								JavaEE / Spring
							</div>
						</div>
					</li>
					<li>
						<div class="progress">
							<div class="bar" style="width:70%">
								Python / Django
							</div>
						</div>
					</li>
					<li>
						<div class="progress">
							<div class="bar" style="width:70%">
								PS / AI
							</div>
						</div>
					</li>
				</ul>
				<br />
				<br />
			</div>
		</div><!-- /row -->
	</div><!-- /container -->
</section>
{% endblock %}