.main{
  .nav-imgs{
    li{
      float: left;
      display: block;
      margin: 0 60px 60px 0;
      position: relative;
      &:hover{
        p{
          opacity: 1;
          .transition(opacity .2s ease);
        }
      }
      p{
        position: absolute;
        opacity: 0;
        width: 224px;
        height: 32px;
        margin: 3px;
        line-height: 32px;
        .box-sizing(border-box);
        background: url(../../img/main/black-opacity.png) 0 0 repeat;
        bottom: 0;
        left: 0;
        text-align: center;
        color: @white;
        vertical-align: middle;
        font-weight: normal;
        text-shadow: 0 1px 0 rgba(0,0,0,.9);
      }
    }
    img{
      width: 224px;
      height: 124px;
    }
  }
  h3{
    padding-bottom: .3em;
    border-bottom: 1px solid #999;
    color: @grayDark;
    font:normal normal 1.5em @msyaheiFontFamily;
    text-shadow: 0 0 3px rgba(0,0,0,.2);
  }
  h3.noborder{
    border-color:transparent;
  }
  .nav-tags{
    a{
      margin-top: 1em;
      margin-left: 2px;
      padding-left: 5px;
      line-height: .9em;
      border-left: 3px solid @grayLight;
      color: @gray;
    }
    a:hover{
      background: none transparent;
      border-left: 3px solid @blue;
      color: @blue;
    }
  }
  
}

.tag{
  display: inline-block;
  padding: 2px 3px;
  margin: 0 5px;
  cursor: pointer;
  background-color: @navbarBackground;
  border: 1px solid #137dd6;
  line-height: 1em;
  font-size: 13px;
  color: @white;
  &:hover{
    text-decoration: none;
    background-color: @orange;
    border-color: darken(@orange, 10%);
    .transition(all .2s ease);
    color: @white;
  }
}

.opt-panel{
  position: fixed;
  bottom: 20px;
  right: 0;
  .transition(right .5s ease-in-out);
  a{
    display: block;
    padding: 7px 3px 0 3px;
    background-color: #878787;
    border-bottom: 1px solid #999;
    &:hover{
      background-color: #707070;
    }
  }
  & a:first-child{
    .border-radius(2px 2px 0 0);
  }
  & a:last-child{
    .border-radius(0 0 2px 2px);
    border: none;
  }
}

form{
  textarea.error,
  input[type="text"].error,
  input[type="password"].error,
  input[type="datetime"].error,
  input[type="datetime-local"].error,
  input[type="date"].error,
  input[type="month"].error,
  input[type="time"].error,
  input[type="week"].error,
  input[type="number"].error,
  input[type="email"].error,
  input[type="url"].error,
  input[type="search"].error,
  input[type="tel"].error,
  input[type="color"].error,
  .uneditable-input.error {
    background-color: rgba(255,0,0,.1);
    border: 1px solid @red;
    .transition(~"border linear .2s, box-shadow linear .2s");
    // Focus state
    &:focus {
      background-color: @inputBackground;
      border: 1px solid @inputBorder;
      outline: thin dotted \9; /* IE6-9 */
    }
  }
}
