<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>文章列表</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
		<script src="../../statics/js/intact/pre.js"></script>
        <link rel="stylesheet" href="../css/bootstrap/bootstrap.css" />
        <!-- <link rel="stylesheet/less" href="../less/bootstrap/bootstrap.less" />
		<script src="../less/js/less-1.3.3.min.js"></script>
        <!--[if lte IE 9]>
		<script src="../../statics/hack/html5.js"></script>
		<![endif]–>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- This code is taken from http://twitter.github.com/bootstrap/examples/hero.html -->

        <header class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="home.html"><img src="../img/main/logo.png" /></a>
                    <div class="nav-collapse collapse">
                        <ul class="nav pull-right">
                            <li><a href="home.html">首页</a></li>
                            <li><a href="article-list.html">文章</a></li>
                            <li><a href="#">设计</a></li>
                            <li class="active"><a href="about.html">关于我</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </header>
		
       	<article>
			<section class="banner banner-about">
				<div class="container">
					<br />
					<div class="face"></div>
					<h1>关于我</h1>
					<br />
					<br />
					<br />
				</div>
			</section>
			
			<section class="main article-detail">
				<div class="container">
					<br />
					<p>
						Hello，我是张杨，91年1月生，江苏徐州人，2012年6月大学毕业，学得是嵌入式专业，可是大学光玩了，也没学好。2011年底，面临毕
						业，为了掌握一个活计我去培训了软件开发。12年3月在天津，加入了一个创业互联网公司（canditu.com），担任了Java程序员，当时
						几乎包揽了该网站所有的技术工作，所以虽说入行不久，但我是一个适应与学习能力极强的人。
					</p>
					<p>
						目前我在南京GTIS担任WEB前端工程师，公司的主要产品是政府政务GIS应用，在GIS行业中公司有一定的名气，是一个比较不错的团队，
						有很多充满活力的队员及乐意分享的leader，我很喜欢目前的工作环境。
					</p>
					<p>	
						我使用Java和Python两个后端语言，熟悉Spring和django框架。我是一个以产品为导向的人，任何技术与设计的价值在我的概念里都体
						现在解决市场需求。我反对沉溺于技术，我觉得那是不实际的做法，但是我不会丢掉技术情怀，因为技术始终是我的立身之本，正因为这个
						特点，现在的我可以算的上全面，从前端到后端我都可以，所以我对自己的评价就是“产品型程序员”。
					</p>
					<p>	
						我也是一个GUI设计师，崇尚简约的设计风格，不喜欢花里胡哨的东西，因为这是互联网产品的大趋势，就是 Less is More! 
					</p>
					<p>	
						我爱音乐，擅长唱歌，大学拿过不少奖，如果可以的话，希望能广交天下爱音乐的朋友，因为我也是一个外向合群的人，适合“群居”生
						活 ^_^ 。
					</p>
					<p>	
						这就是我的大概，没有华丽的大学经历，也没有从小就开始钻研代码的技术背景，不过我始终坚信，好的程序员不是因为背景有多么华丽，
						而是取决于他对代码的热爱程度和对软件产品的热情！
					</p>
					<br /><br /><br />
				</div><!-- /container -->
			</section>
		</article>
		
		<footer>
			<div class="container">
        		<ul class="nav-features row-fluid">
        			<li class="span2 offset1">
        				<i class="ico ico-django"></i>
        				<p>使用django开发</p>
        			</li>
        			<li class="span2">
        				<i class="ico ico-sae"></i>
        				<p>本站运行在新浪云上</p>
        			</li>
        			<li class="span2">
        				<i class="ico ico-html5"></i>
        				<p>使用html5技术</p>
        			</li>
        			<li class="span2">
        				<i class="ico ico-gmail"></i>
        				<p>rayzy1991@gmail.com</p>
        			</li>
        			<li class="span2">
        				<i class="ico ico-weibo"></i>
        				<p>@lpgray</p>
        			</li>
        		</ul>
        		<p>&copy;2012-2013, 张杨, all rights reserved.</p>
        	</div>
        </footer>
        <!-- <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script> 
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script> -->
		<script src="../js/vendor/jquery-1.9.1.min.js"></script>
        <script src="../js/vendor/bootstrap.min.js"></script>

        <script src="../js/plugins.js"></script>
        <script src="../js/main.js"></script>

    </body>
</html>
