<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>文章</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
        <!-- <link rel="stylesheet" href="../css/bootstrap/bootstrap.css" /> -->
        <link rel="stylesheet/less" href="../less/bootstrap/bootstrap.less" />
		<script src="../less/js/less-1.3.3.min.js"></script>
        <!-- <link rel="stylesheet" href="css/bootstrap-responsive.min.css"> -->

        <!-- <script src="../js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script> -->
        
        <!--[if lte IE 9]>
		<script src="../js/hack/html5.js"></script>
		<![endif]–>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <header class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="home.html"><img src="../img/main/logo.png" /></a>
                    <div class="nav-collapse collapse">
                        <ul class="nav pull-right">
                            <li><a href="home.html">首页</a></li>
                            <li class="active"><a href="#">文章</a></li>
                            <li><a href="#">设计</a></li>
                            <li><a href="#">关于我</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </header>
		
       	<article>
			<section class="banner banner-article">
				<div class="container">
					<nav class="breadcrumbs">
						<a href="#">首页</a> / <a href="#">文章列表</a> / <a class="active" href="#">阅读文章</a>
					</nav>
					<br />
					<h1>这是文章标题</h1>
					<p>2013-01-01 12:00:00</p>
					<br />
					<br />
					<p>
						<a class="tag">标签</a>
						<a class="tag">标签</a>
						<a class="tag">标签</a>
					</p>
					<nav>
						<ul class="nav nav-tabs">
							<li class="active"><a href="#">文 章</a></li>
							<li><a href="article-feed.html">留 言 <div class="bubble">333</div></a></li>
						</ul>
					</nav>
				</div>
			</section>
			
			<section class="main article-detail">
				<div class="container">
					<p class="summary">
						<strong>摘要：</strong> Hello，我是张杨，91年1月生，江苏徐州人，2012年6月大学毕业，学得是嵌入式专业，可是大学光玩了，也没学好。2011年底，面临毕业，
						为了掌握一个活计我去培训了软件开发。12年3月在天津，加入了一个创业互联网公司（canditu.com），担任了Java程序员，当时几乎包揽
						了该网站所有的技术工作，所以虽说入行不久，但我是一个适应与学习能力极强的人。
					</p>
					<br />
					<img src="../img/test/jquery_applications.jpg" class="img-polaroid"/>
					<br />
					<br />
					<p>
						Hello，我是张杨，91年1月生，江苏徐州人，2012年6月大学毕业，学得是嵌入式专业，可是大学光玩了，也没学好。2011年底，面临毕
						业，为了掌握一个活计我去培训了软件开发。12年3月在天津，加入了一个创业互联网公司（canditu.com），担任了Java程序员，当时
						几乎包揽了该网站所有的技术工作，所以虽说入行不久，但我是一个适应与学习能力极强的人。
					</p>	
					<p>
						目前我在南京GTIS担任WEB前端工程师，公司的主要产品是政府政务GIS应用，在GIS行业中公司有一定的名气，是一个比较不错的团队，
						有很多充满活力的队员及乐意分享的leader，我很喜欢目前的工作环境。
					</p>	
					<p>	
						我使用Java和Python两个后端语言，熟悉Spring和django框架。我是一个以产品为导向的人，任何技术与设计的价值在我的概念里都体
						现在解决市场需求。我反对沉溺于技术，我觉得那是不实际的做法，但是我不会丢掉技术情怀，因为技术始终是我的立身之本，正因为这个
						特点，现在的我可以算的上全面，从前端到后端我都可以，所以我对自己的评价就是“产品型程序员”。
					</p>	
					<p>	
						我也是一个GUI设计师，崇尚简约的设计风格，不喜欢花里胡哨的东西，因为这是互联网产品的大趋势，就是 Less is More!
					</p>	
					<p>	
						我爱音乐，擅长唱歌，大学拿过不少奖，如果可以的话，希望能广交天下爱音乐的朋友，因为我也是一个外向合群的人，适合“群居”生
						活 ^_^ 。
					</p>	
					<p>	
						这就是我的大概，没有华丽的大学经历，也没有从小就开始钻研代码的技术背景，不过我始终坚信，好的程序员不是因为背景有多么华丽，
						而是取决于他对代码的热爱程度和对软件产品的热情！
					</p>
<pre class="prettyprint lang-js linenums">
// Avoid `console` errors in browsers that lack a console.
(function() {
    var method;
    var noop = function () {};
    var methods = [
        'assert', 'clear', 'count', 'debug', 'dir', 'dirxml', 'error',
        'exception', 'group', 'groupCollapsed', 'groupEnd', 'info', 'log',
        'markTimeline', 'profile', 'profileEnd', 'table', 'time', 'timeEnd',
        'timeStamp', 'trace', 'warn'
    ];
    var length = methods.length;
    var console = (window.console = window.console || {});

    while (length--) {
        method = methods[length];

        // Only stub undefined methods.
        if (!console[method]) {
            console[method] = noop;
        }
    }
}());
</pre>
					<p>
						Hello，我是张杨，91年1月生，江苏徐州人，2012年6月大学毕业，学得是嵌入式专业，可是大学光玩了，也没学好。2011年底，面临毕
						业，为了掌握一个活计我去培训了软件开发。12年3月在天津，加入了一个创业互联网公司（canditu.com），担任了Java程序员，当时
						几乎包揽了该网站所有的技术工作，所以虽说入行不久，但我是一个适应与学习能力极强的人。
					</p>
					<br />
					<hr />
					<form id="formFeed" action="">
						<br />
						<div class="row-fluid">
							<input type="text" class="span4 error" placeholder="称呼"/><input type="text" class="span4" placeholder="邮箱"/><input type="text" class="span4" placeholder="微博/QQ/个人网站（选填）"/>
							<br />
							<textarea style="margin-left: 0;" name="" id="" cols="30" class="span12" rows="10" placeholder="在这里留言"></textarea>
							<br />
							<div class="pull-right">
								<label for="mailMe" class="checkbox inline"><input id="mailMe" type="checkbox" /> 有回复邮件通知我&nbsp;&nbsp;</label>
								<a class="btn btn-primary btn-large">发 送 留 言</a>
							</div>
						</div>
					</form>
					
				</div><!-- /container -->
			</section>
		</article>
		
		<aside class="opt-panel">
        	<a href="#" onclick="toTop();"><i class="ico ico-top"></i> </a>
        	<a href="#formFeed"><i class="ico ico-msg"></i> </a>
        </aside>
        
		<footer>
			<div class="container">
				<dl>
					<div style="padding-left: 0">
						<dt class="ico ico-django">django</dt>
						<dd>本站使用django开发</dd>
					</div>
					<div>
						<dt class="ico ico-sae">sina app engine</dt>
						<dd>本站运行在新浪云上</dd>
					</div>
					<div>
						<dt class="ico ico-html5">html5</dt>
						<dd>本站使用html5技术</dd>
					</div>
					<div>
						<dt class="ico ico-gmail">gmail</dt>
						<dd>与我联系，请电邮<br />rayzy1991.gmail.com</dd>
					</div>
					<div style="padding-right: 0">
						<dt class="ico ico-weibo">微博</dt>
						<dd>微博关注，请<br />@Lpgray</dd>
					</div>
				</dl>
        		<p>&copy;2012-2013, 张杨, all rights reserved.</p>
        	</div>
        </footer>
        
        
        
        <!-- <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script> 
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script> -->
		<script src="../js/vendor/jquery-1.9.1.min.js"></script>
        <script src="../js/vendor/bootstrap.min.js"></script>
		
		<script src="../js/plugins/prettify.js"></script>
		
        <script src="../js/plugins.js"></script>
        <script src="../js/main.js"></script>
		<script>
			window.prettyPrint && prettyPrint();
		</script>
    </body>
</html>
