<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>首页</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
		<script src="../../statics/js/intact/pre.js"></script>
        <link rel="stylesheet" href="../css/bootstrap/bootstrap.css" />
        <!-- <link rel="stylesheet/less" href="../less/bootstrap/bootstrap.less" />
		<script src="../less/js/less-1.3.3.min.js"></script>
        <!--[if lte IE 9]>
		<script src="../../statics/hack/html5.js"></script>
		<![endif]–>
    </head>
    <body>
        <!--[if lt IE 9]>   
        <p class="chromeframe alert alert-block" style="text-align: center;">你正在使用一个 <strong>相当过时</strong> 的浏览器. 想要获取更安全、更快速、更舒爽的浏览体验，请 <a href="http://browsehappy.com/">更新你的浏览器</a> 或者推荐 <a href="https://www.google.com/intl/zh-CN/chrome/browser/">下载chrome浏览器</a>。</p>
        <![endif]-->

        <header class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="home.html"><img src="../../statics/img/main/logo.png" /></a>
                    <div class="nav-collapse collapse">
                        <ul class="nav pull-right">
                            <li class="active"><a href="home.html">首页</a></li>
                            <li><a href="article.html">文章</a></li>
                            <li><a href="#">设计</a></li>
                            <li><a href="about.html">关于我</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </header>
		
       	<article>
			
			<section class="banner banner-home">
				<div class="container">
					<div id="profile">
						<div class="desc">
							<br />
							<br />
							<h1>专注企业级WEB应用及用户体验</h1>
							<hr />
							<h4>Linux, Spring, django, eclipse, github, jQuery, Bootstrap</h4>
						</div>
					</div>
				</div>
			</section>
			
			<section class="main">
				<div class="container">
					<div class="row">
						<br />
						<div class="span7">
							<h3 class="noborder">最新动态</h3>
							<ul class="nav-trends">
								<li>
									<a href="#"><div class="img-wrap" style="background-image:url(../img/test/jquery_applications.jpg)"></div></a>
									<time>6月9日22点20分</time>，我创建了一篇文章 <strong><a href="#">HibernateEvent转SprinApplicationEvent</a></strong>。
									<div class="cb"></div><br /><br />
									<div class="memo">它属于 <a href="#">html5</a>，<a href="#">css3</a>，<a href="#">前端开发</a> 之类的</div>
								</li>
								<li>
									<time>6月9日22点20分</time>，<strong>spino</strong> 回复了我的文章 <strong><a href="#">HibernateEvent转SprinApplicationEvent实现审计日志</a></strong>。
									<div class="cb"></div><br /><br />
									<div class="memo"><a href="#">立刻查看</a></div>
								</li>
								<li>
									<div class="img-wrap" style="background-image:url(../img/test/HTML5_sticker.png)"></div>
									<time>6月9日22点20分</time>，<strong>spino</strong> 回复了我的文章 <strong><a href="#">HibernateEvent转SprinApplicationEvent实现审计日志</a></strong>。
									<div class="cb"></div>
								</li>
							</ul>
							<br /><br /><br />
						</div>
						<div class="span4 offset1">
							<h3 class="noborder">我的领域</h3>
							<ul class="nav">
								<li>
									<div class="progress">
										<div class="bar" style="width:90%">HTML5 / CSS3</div>
									</div>
								</li>
								<li>
									<div class="progress">
										<div class="bar" style="width:85%">JavaScript</div>
									</div>
								</li>
								<li>
									<div class="progress">
										<div class="bar" style="width:85%">JavaEE / Spring</div>
									</div>
								</li>
								<li>
									<div class="progress">
										<div class="bar" style="width:80%">Python / Django</div>
									</div>
								</li>
								<li>
									<div class="progress">
										<div class="bar" style="width:70%">Adobe PS / AI</div>
									</div>
								</li>
							</ul>
						</div>
					</div><!-- /row -->
				</div><!-- /container -->
			</section>
		</article>
		
		<footer>
			<div class="container">
        		<ul class="nav-features row-fluid">
        			<li class="span2 offset1">
        				<i class="ico ico-django"></i>
        				<p>使用django开发</p>
        			</li>
        			<li class="span2">
        				<i class="ico ico-sae"></i>
        				<p>本站运行在新浪云上</p>
        			</li>
        			<li class="span2">
        				<i class="ico ico-html5"></i>
        				<p>使用html5技术</p>
        			</li>
        			<li class="span2">
        				<i class="ico ico-gmail"></i>
        				<p>rayzy1991@gmail.com</p>
        			</li>
        			<li class="span2">
        				<i class="ico ico-weibo"></i>
        				<p>@lpgray</p>
        			</li>
        		</ul>
        		<p>&copy;2012-2013, 张杨, all rights reserved.</p>
        	</div>
        </footer>
		<script src="../../statics/js/vendor/jquery-1.9.1.min.js"></script>
        <script src="../../statics/js/vendor/bootstrap.min.js"></script>
		<script src="../../statics/js/plugins/jquery.validationEngine.js"></script>
        <script src="../../statics/js/intact/plugins.js"></script>
        <script src="../../statics/js/intact/main.js"></script>
    </body>
</html>
